<a href="https://colab.research.google.com/github/kalpanaSharma20117/Data_Structure_Assignment/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types and Structures

## Assignment Questions

## Q1. What are Data Structure and why are they Important?

Ans.Data Structures are the ways to organize, store our data effectively in a computer so that it can be accessed and modified easily. There are different types of data structure designed to perform different types of tasks and operations. The reason why they're important is as below:
1.Efficient Data Management: Organise data in such a way that we can quickly acces it and perform required modifications.
2.Using Required data type allows us to perform operations with less time and it optimizes performance.
3.Enhances code readability and enables easy maintainability.
Different Types of Data Structures are : List, Tuples , Set , Dictionaries , Stack , Queue , Array etc.


## Q2.Difference between mutable and immutable data types with examples.
Ans. In Python, data types cab be categorized into mutable and immutable based on whether their values can be changed or not after creation.
1.Mutable Data Types These Data Types can be modified after thier creation, meaning thier values can be changed without changing their memory address. Examples are list, dict, set for example, let's take a list: my_list = [1,2,3] my_list.append(4) here, we can modify the list by adding the element , but the memory address will remain the same.
2.Immutable Data Types (Immutability only restricts modifications) These Data Types can't be modified once created, meaning we can't change the elements and any changes will lead to create a new object in memory. Examples are: Tuple, int , float , frozenset , string
for example: my_tuple = (1,2,3) print(id(my_tuple)) #Memory Address before any operations or modification

my_tuple += (4,5) print(id(my_tuple)) #New memory address will be returned.


## Q3.What are the main differences in Lists and Tuples in Python
Ans.Lists and Tuples both are ordered data structure means thier elemts are always stored in order and can contain heterogeneous type of elements but the main difference is that list is a Mutable Data structure means it's elements can be modified without changing thier memory location while Tuples are Immutable data structure means any modification can cause creation of new object in memory.

## Q4.How does Dictionaies stores Data
Ans. Dictionaries in Pyhton stored data as key-value pairs using hash tables. The Keys are hashed to an index and it allows fast retrieval of values. my_dict = {'Name': "Kalpana", 'Course': "Data Analytics", 'Qualification':"MCA"} Now, we can easily access our data with the help of the keys Keys must be immutable like str, int, tuple so that it's value will not change and retrieval becomes more easy.

## Q5.Why use a set instead of a list in Python?
Ans. Sets and list are the very useful data structures provided by Python. Set is a collection of unique, unordered elements, it do not allow duplicates, whereas lists do, Sets Automatically removes Duplicates, it enables faster lookup , checking if an item exists in a set is much faster than in a list. we should prefer to use set is No duplicate values are allowed , fast lookup is needed and there is no

## Q6.What is a string in Python, and how it is different from a list?
Ans. A string is a sequence of characters enclosed in either single quotes , double quotes or triple quotes. It is immutable means once created, it can't be changed. Example of string: s="Hello, World" String is different from list as it is immutable but a list is a collection of elemnts(numbers, strings, etc) and is mutable. String only stores characters, while list can store any data type.

## Q7.How do tuple ensure data integrity in Python?
Ans.A tuple in Python is an immutable sequence data type, meaning once created, it can't be modified(no adding, no deleting, no changing elements). This feature of immutability ensures data integrity by preventing unintended changes. Tuples are immutable and hence is also safe for hashing , they can be used as keys in dictionaries. It ensures read-only access to critical data stored like Aadhar card number, pan card number, API responses.

## Q8.what is hash table, and how it relate to dictionaries in python?
Ans.Hash Table is a data structure that stores key-value pairs using a has function and Dictionaries in Python is a built-in implementation of a has table that allow for fast lookups,insertions , and deletions. It is implemented using a hash table behind the scenes.When a key is added to a dictionary, Python calculates its hash value using hash() function and this hash value determines the index where the key-value pair is stored in memory. Instead of searching through all elements(like in list), Python directly finds the key's location using its hash. for example: my_dict = {"Name": "Kalpana", "Age": 24, "Course": "Data-Science"} print(my_dict["age"])

## Q9.Can list contains different data types ?
Yes, In python, a list can contain elements of different data types like integers, strings, boolean, lists, tuples, dictionaries in a single list. my_list = [10, 10.1, True, [1,2,3], (4,5), {"Name": "Kalpana"}] List is a mutable data structure , means it's values can be changed after creation.

## Q10.Explain why strings are immutable in Python?
Ans.String in Python is immutable, meaning we can't change or perform any modification in their contents after they are created. Any modification leads to creation of new string instead of modifying the original one. SInce, strings are stored in memory only once and then reused, Immutability helps save space and also prevents accidental or unintended changes. for example: s ="Kalpana" s[0]='s' # error , string object does not support item assignment. So, String can't be modified directly in Python and this feature helps in memory efficiency, security and fast lookups if used as a key in dictionaries/sets.

## Q11.What advantages do dictionaries offer over lists for certain tasks?
Ans.Lists are the data structure that can store data of different data types like string, tuple, list, int, float whereas Dictionary is a data structure that stores value in a key-value pair. Dictionaries are better than list for certain tasks because they provide faster lookup with the help of meaningful key-value mapping and also efficient data storage. It become easy to access values by keys due to hashing. It avoids duplicates and ensures unique keys. Dictionaries are better for large datasets as it provides easy lookups.

## Q12.Describe a scenerio where using a tuple would be preferable over a list.
Ans.There're some scenerioes where tuples would be preferable over a list as mentioned below: print(student_scores[("Divya", "Science")]

Immutable data (values can't be changed)
Hashable Keys (Tuples can be used as dictionary keys, but list can't as it is mutable)
Faster Performance(Tuples are slightly faster than lists) for example: 1.Storing fixed and crucial data such as Aadhar card number, pan card number , API calls. 2.When we need unique and immutable keys in dictionary. ex: student_scores = {("Kalpana", "Math"): 90, ("Divya", "Science"): 80}

## Q13.How does sets handle duplicate values in Python?
Ans. Sets in Python automatically remove dupliacte values because they store only unique elements. for example: numbers = {1,2,2,4,4,6,7,9,9,9,9} print(numbers) It will repeat {1,2,4,6,7,9} Python automatically removes the extra 2, 4 and 9 because sets only store unique values.

Sets uses Hashing, each element in a set is stored using a unique hash value. *Insertion Check: Before adding an element, Python checks if it already exists in the set, If it does, it skips adding it again. If you'll try to add duplicate manually, then it will show any error but will ignore that value.

## Q14.How does the "in" keyword work differently for lists and dictionaries?
Ans. The "in" keyword is used to check membership in Python, but it works differently for lists and dictionaries due to their underlying data structure. *When we use "in" with a list, Python searches through each element one by one. This makes it slow for large lists. for example: numbers = [10,20,30,40,50,60] print(30 in numbers) #True print(70 in numbers) #False

*In a dictionary, "in" only checks for keys, not vallues. It is much faster because dictionaries use hash tables for lookups. Marks= {"A": 80, "B": 70, "C": 60} print("A" in Marks) print("80" in Marks) #False(Values not checked)

## Q15.Can you modify the elements of a tuple? Explain why or why not?
Ans. No, we can't modify the elements of a tuple in Python because tuples are immutable.Once a tuple is created, its elements can't be changed, added, or removed.This is because tuples are stored in memory in a way that prevents modification, ensuring data integrity and safety. Although tuples are immutable but if a tuple contains a mutable element(like a list), that list can be modified. foe ex: t = (1,2[3,4]) t[2].append(5) print(t) (1,2[3,4,5])

## Q16.What is nested dictionary, and give an example of its use case.
Ans.A nested dictionary is a dictionary that contains another dictionary as a value.It allows us to store structured data in a hierarchical mannner. for ex: Student Records students = { "ID1" :{"Name": "Kalpana", "Course": "MCA", "Grade": "A"} } Here, Student ID is the key and it's values are stored inside nested dictionary. Used for storing structured data like student records, employee details, and configurations.

## Q17.Describe the Time Complexity of accessing elements in a dictioanry.
In Python, dictionaries are implemented using hash tables, which provide fast lookups. The Time complexity of accessing an element in a dictionary depends on whether the key is there is dictionary or not. When Key is present , Python computes the hash value of the key and finds the value directly in the hash table. This happens in O(1) time on average.(COnstant Time) If we try to access a key that does not exist, Python raises a KeyError. If hash collisions occur (multiple keys having the same hash), Python uses linked lists to store values at the same location. In this case , a lookup can take O(n) time(Linear Time, looping through a list).

## Q18.In what situations are lists preferred over dictionaries?
Ans. Lists and dictionaries are both important data structures in Python, but lists are preferred over dictionaries in the following situations:

When Order Matters Lists maintain the order of elements, whereas dictionaries did not. If we need ordered elements, lists are the better choice than dictionaries. for ex: students = [101, 102, 103, 104] # Preserves order
When You Only Need a Collection of Values If ywe just need to store and access values (without keys), a list is simpler.
List Consumes less memory compared to dictionaries. 4.When we need faster looping, as it is faster in lists than through dictionaries.Since dictionaries have key-value lookups, iteration takes more time.

## Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans. In Python versions (before newer 3.7), dictionaries were unordered because they store key-value pairs using hash tables. The order of elements depended on the hash function, not on the insertion sequence. before Python3.7, The order of items in a dictionary was unpredictable but in newer version, dictionaries maintain insertion order and Retrieval follows the order keys were inserted.: In modern Python (3.7+), dictionaries preserve order, so retrieval is predictable. However, they are still best for fast lookups (O(1)) using hash tables.

## Q20.Explain the difference between a list and a dictionary in terms of data retrieval
Ans.
Lists stores elements in sequential order (index-based) whereas Dictionary stores key-value pairs (hash-based).
in List, we can access elements using an index (list[2]), whereas in dictionary,access values using a key (dict["name"]) 3.Data Retrieval is slower in case of lists as it must search the entire list, but dictionary stored data in the form of key-value pair and uses hashing, find a value using a key. we should use list when we need to store ordered data(like any seqyuence) and retrieval is based on index. and use dictionary when we need fast lookups using keys.

# Practical Questions

Q1.Write a code to create a string with your name and print it.

In [1]:
my_name = "Kalpana"
print(my_name)

Kalpana

Q2.Write a code to find the length of the string "Hello World".

In [2]:
s ="Hello World"
length_of_string = len(s)
print(length_of_string)

11

Q3.Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
s = "Python Programming"
s[0:3]

'Pyt'

Q4.Write a code to convert the string "hello" to uppercase.

In [4]:
s = "hello"
print(s.upper())

HELLO

Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
s = "I like apple"
new_text = s.replace("apple", "orange")
print(new_text)

I like orange

Q6.Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

Q7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
numbers = [1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
numbers = [1,2,3,4,5]
numbers.pop(2) # index wise
print(numbers)

[1, 2, 4, 5]

In [9]:
numbers = [1,2,3,4,5]
numbers.remove(3) #based on value
print(numbers)

[1, 2, 4, 5]

Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
s = ['a', 'b', 'c', 'd']
s[1]

'b'

Q10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
s = [10,20,30,40,50]
s.reverse()
print(s)

[50, 40, 30, 20, 10]

Q11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
s = (100,200,300)
print(s)

(100, 200, 300)

Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
s = ('red', 'green', 'blue', 'yellow')
s[-2]

'blue'

Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
s = (10,20,5,15)
min_num = min(s)
print(min_num)

5

Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
s = ('dog', 'cat', 'rabbit')
index_of_cat = s.index('cat')
print(index_of_cat)

1

Q15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruits = ('Banana', 'Apple', 'Mango', 'Grapes', 'Kiwi')
print('Kiwi' in fruits)

True

Q16.Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [17]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
s ={1,2,3,4,5}
s.clear()
print(s)

set()

Q18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
s = {1,2,3}
s1 = {3,4,5}
union_set = s.union(s1)
print(union_set)

{1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
s = {1,2,3}
s1 = {2,3,4}
intersection_set = s.intersection(s1)
print(intersection_set)

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
dictionary = {"name":"A", "age": 23, "city": "Rewari"}
print(dictionary)

{'name': 'A', 'age': 23, 'city': 'Rewari'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
s = {'name': 'John', 'age': 25}
s["country"] = "USA"
print(s)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
s = {'name': 'Alice', 'age': 30}
s['name']

'Alice'

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
s = {'name': 'Bob', 'age': 22 , 'city': 'New York'}
s.pop('age')
print(s)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
s ={'name':'Alice', 'city': 'Paris'}
print('city' in s)

True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
my_list = [1,2,3,True,"Kalpana"]
my_tuple = (1,2,False, "Riya",)
my_dictionary = {'name': 'Kalpana', 'age': 23, 'Course': 'MCA'}

print("Lists:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dictionary)

Lists: [1, 2, 3, True, 'Kalpana']
Tuple: (1, 2, False, 'Riya')
Dictionary: {'name': 'Kalpana', 'age': 23, 'Course': 'MCA'}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [28]:
s = [100, 80, 79, 65, 55]
s.sort()
print(s)

[55, 65, 79, 80, 100]

28.Write a code to create a list with strings and print the element at the third index.

In [29]:
s = ['Kalpana', 'Riya', 'Sonam', 'Aysha']
print("Elements at the third index is :", s[2] )

Elements at the third index is : Sonam

Q29. Write a code to combine two dictionaries into one and print the result.

In [30]:
dict_1 = {'Name': "Kalpana", 'Age': 24}
dict_2 = {'City': "Chandigarh", 'State': "Haryana"}
dict_1.update(dict_2)
print(dict_1)

{'Name': 'Kalpana', 'Age': 24, 'City': 'Chandigarh', 'State': 'Haryana'}

Q30. Write a code to convert a list of strings into a set.

In [31]:
s = ['Kalpana', 'Riya', 'Aysha', 'Sonam', 'Aditi']
string_set = set(s)
print("Set of Strings:", string_set)

Set of Strings: {'Kalpana', 'Riya', 'Aditi', 'Aysha', 'Sonam'}